.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  box-shadow: 2px 2px 20px 2px gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $white-color;

  &__item {
    text-decoration: none;
    color: black;

    &-active {
      color: $pink-color;
    }
  }
}
